@font-face {
  font-family: 'VarelaRound';
  font-style: normal;
  font-weight: 400;
  src: local('VarelaRound'), local('VarelaRound-Regular'), url(../fonts/Varela_Round/VarelaRound-Regular.woff) format('woff');
}

.lucille {
	font-family:'VarelaRound';
	font-size: 1rem;
}

.lucille .hide {
	display: none;
}

.lucille text {
	alignment-baseline:central;
    text-anchor:middle;
}

.lucille .button {
	cursor: pointer;
}

.lucille .button:hover {
	fill:#FFFFFF;
}

.lucille .button.next,
.lucille .button.prev,
.lucille .button.play {
	font-family:'FontAwesome';
	font-size: 2rem;
	cursor: pointer;
}

.lucille .button.settings {
	font-family:'FontAwesome';
	font-size: 1.5rem;
	cursor: pointer;
}

.lucille .chord .root {
	font-size: 3rem;
}

.lucille .chord .type {
	font-size: 1.10rem;
}

.lucille .string{
	stroke:#000000;
	stroke-width:2;
	stroke-linecap:round;
}

.lucille .fret {
	stroke:#000000;
	stroke-width:2;
	opacity: 0.25;
}

.lucille .fret:last-child {
	opacity: 0;
}

.lucille .fretting .string {
	stroke:#000000;
	stroke-width:5;
	stroke-linecap:round;
}

.lucille .fretting .label {
	font-size:.8rem;
}
