@font-face {
  font-family: 'VarelaRound';
  font-style: normal;
  font-weight: 400;
  src: local('VarelaRound'), local('VarelaRound-Regular'), url(../fonts/Varela_Round/VarelaRound-Regular.woff) format('woff');
}

.lucille {
	font-family:'VarelaRound';
	font-size: 1rem;
}

.lucille .hide {
	display: none;
}

.lucille text {
	alignment-baseline:central;
    text-anchor:middle;
}

.lucille .button {
	font-family:'FontAwesome';
	cursor: pointer;
	text-transform: uppercase;
}

.lucille .button:hover {
	fill:#FFFFFF;
}

.lucille .button .touchTarget {
	fill:#999999;
}

.lucille .button.next,
.lucille .button.prev,
.lucille .button.play {
	font-size: 2rem;
	cursor: pointer;
}

.lucille .button.settings {
	font-size: 1rem;
	cursor: pointer;
}

.lucille .string{
	stroke:#000000;
	stroke-width:2;
}

.lucille .fret {
	stroke:#000000;
	stroke-width:2;
}

.lucille .fretting .string {
	stroke:#000000;
	stroke-width:5;
}

.lucille .menu {
}

.lucille .menu .background {
	fill:#FFFFFF;
	stroke:#f2f2f2;
	stroke-width:3;
}

.lucille .menu .title {
	font-size: 1.25rem;
	text-transform: uppercase;
	font-weight: bold;
}

.lucille .menu .button .touchTarget {
	fill:#FFFFFF;
	stroke:#000000;
	stroke-width:1;
}

.lucille .menu .button.active .touchTarget{
	fill:#BBBBBB;
}

.lucille .menu .button:hover text{
	fill:#999999;
}
